body{
    color: #0f0e0c;
font-family: 'Courier New', Courier, monospace;
text-align: center;
margin: 20px;
background-color: rgba(247, 247, 248, 0.062);
}


h1{
color: #0f0e0c;

}
nav{
  
    font-size: 18px;
}

.contatos{
    background-color: black; 
    padding: 16px;
    color: aliceblue;
}
.meusprojetos{
    background-color:rgb(2, 13, 73) ;
    padding: 16px;
    color: aliceblue;
}
.habilidades{
    background-color: rgb(0, 0, 0);
    padding:16px;
    color: aliceblue;
}
.sobre{
    background-color: rgb(3, 3, 70);
    padding:16px;
    color: aliceblue;
}

